/* Miligram overrides */
a {
    font-family: "Raleway", sans-serif;
    color: #5B788C;
}
 a:hover{
     color:#ED8B00;
 }
 
.a2 {

    color : white;
}

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
   
}

/* Main */
body {
    background: #f5f7fa;
}
.content {
    margin-bottom: 20px;
    width: 100%;
    height: 650px;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 10px;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffff;
}
.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}
th {
    white-space: nowrap;
}

/* Nav bar */

@media all and (max-width: 900px){
.top-nav {
    
    padding-top: 1rem;
    justify-content: center; 
}
   }

@media all and (min-width: 902px){

    .top-nav {

        padding-top:  1rem;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
}

.top-nav-title a {
    font-size: 2.4rem;
    color: #d33c43;
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

    
.label2, #toggle
{
    display: none;
}
 
@media all and (max-width: 900px)
{

 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
    }
 
    nav .main_pages a {
        display: flex;
        justify-content: center;
    }
 
    .label2 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}
/* View action */
.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

/* Forms */
.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
    margin-right: 1.0rem;
}
.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
}


/* Paginator */
.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.pagination li {
    margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
}
.p {
    clear: both;
    margin: 5px;
    padding: 5px;
    line-height: 2.5;
    border-radius: 10px;
    border: 1.5px solid  #5B788C;
    text-align: justify;
    background: lightgrey;
    opacity: 0.8;
}

.homepage {
    display: block;

    width: 18%;
    
}

.github-logo

{
    
    width: 30px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 74%;
}

.cake-logo {

    width: 100px;
    position: relative;
    left: 70%;
    top: 0;
    bottom: 0;
}

.op-logo{

    width: 30px;
    position: relative;
    left: 75%;
    top: 0;
    bottom: 0;
}

.phpma-logo {

    width: 100px;
    position: relative;
    left: 75%;
    top: 0;
    bottom: 0;

}

.content2 {

    width: 100%;
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}

#tabs ul li 
{
    display:inline-block;
    height:40px;
    min-width:80px;
    text-align:center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    
}

#tabs2 ul li 
{
    display:inline-block;
    cursor: pointer;
    margin: 15px 0px 0px 0px;
    padding-right: 5px;
    font-weight: bold;
    
}



@media all and (max-width: 700px){
.button2 {
                
                
                margin: auto;
                margin-bottom: 10px;
                text-align: center;
                
            }

}

@media all and (min-width: 700px){

    .button2 {

        margin: 15px;
        text-transform: none;
    }
}


.hilfe {
    background: #ED8B00;
    margin: 5px;
    float: right;
    clear: both;
}

@media all and (min-width: 600px){

    .header3 {

    display: flex;
    margin-bottom: 4rem;
   justify-content: center;
   width: 100%;
   margin-top: 70px;
   align-items: flex-end;

    }
}

@media all and (max-width: 600px){

    .header3 {

        display: grid;
        margin-bottom: 5rem;
        justify-content: center;
    
    }
}

.divhome {

    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    margin: 45px;
    margin-bottom: 10px;
    width: 200px;
    margin-top: 10px;
    text-align: center;
}



.content3 {
    padding: 10px;
    height: 600px;
    
}

.content5 {
    height: 650px;
}

.background {
    background-image: url('../webroot/scans/home.png');
    background-size:cover;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;

}

.contact {
    
    margin-right: -10px;
    font-size: 10px;
    display: flex;
   line-height: 1.3;

}
.contact2 {
    
    margin-right: 85px;
    font-size: 10px;
    display: flex;
   line-height: 1.3;

}
.contact3 {
    
    margin-right: 85px;
    font-size: 10px;
    display: flex;
   line-height: 1.3;

}

.links{

    font-weight: bold;
   text-align: center;
   padding-bottom: 10px;
}

.image2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content5 {
    height: 690px; 
}

.button_home {

    
    display: flex;
    align-items: center;
}

.button_home2 {

    background-color: #ED8B00;
    align-items: center;
    display: flex;
}

.button_home2:hover {

    background-color: #5B788C;
}
@media all and (min-width:800px){
.textarea2 {

    width:550px !important;
    margin-right:10px !important;

}
}
@media all and (max-width:800px){
    .textarea2{

        width: 100% !important;
    }
}
@media all and (min-width:800px){

    .h1home {
    width:745px;
    text-align:left;
    margin-bottom:2px;
    }
}
@media all and (max-width:800px){
    .h1home{
        margin-bottom: 2px;
        text-align:left;
    }
}
@media all and (min-width:800px)
{
.p1home {

   text-align: left; 
   width:745px;
}
}
@media all and( max-width:800px){
    .p1home {
        text-align:left;
    }
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary {
    
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
  }
  
  details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 35px;
    padding-top: 5px;
    line-height: 0;
    margin-top: 0.75rem;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }
  details[open] summary:after {
    transform: rotate(45deg);
    font-size: 35px;
  }
  details summary {
    outline: 0;
  }
  details p {
    font-size: 16px;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }