      * {
        box-sizing: border-box
      }
    @media all and (min-width: 500px){
      .mySlides {
        /*display: none*/
        display: flex;
        justify-content: center;
        width: 500px;
      }
    }
        @media all and (max-width: 500px){
      .mySlides {
        /*display: none*/
        display: flex;
        justify-content: center;
        
      }
    }
      .slideshow-container {
        padding: 2rem;
        display: grid;
        justify-content: center;
      }
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        padding: 16px;
        color: #eb8f00;
        font-weight: bold;
        font-size: 60px;
        transition: 0.6s ease;
        border-radius: 10px;
        user-select: none;
      }
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 10px;
      }
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: lightgrey;
      }
      /* Caption text */
      .text {
        color: black;
        font-size: 15px;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      /* Number text (1/3 etc) */
      .numbertext {
        color: #ffffff;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        text-align: center;
        margin: 0;
      }
      .active,
      .dot:hover {
        background-color: darkgrey;
      }
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
          font-size: 11px
        }
      }

@media all and (min-width: 500px){
.marquepage {

  width: 335px;
  display: flex;
  height: 80px;
  overflow: auto;
  flex-direction: column;
  margin: 10px 13px 0px 13px;
}
}

@media all and ( max-width: 500px){
.marquepage{
    display: flex;
  height: 80px;
  overflow: auto;
  flex-direction: column;
  margin: 10px 13px 0px 13px;
}
}



