#simp-search form {
    display: flex;
    margin-top:-27px;
    padding-right: 12px;


}

#simp-search form * {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;

}
#simp-search form * + * {
    margin-left: 1rem;
}

#title-logo {
	float: left;
	font-size: 25px;
	color: #1C1C1C;
	font-weight: bold;
}

#title-logo:hover {
	color: #d33c43;
}

@media all and (max-width: 500px){
footer {
    background-color: #5B788C;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
}

@media all and (min-width: 501px){

    footer {
    background-color: #5B788C;
    color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
}
header {
	background-color: #ffff;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.header2 {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px;
    opacity: 0.9;
    border-radius: 10px;
   
}


header h1 {
    padding-left: 1.5rem;
    margin: auto;

}


.top-nav-item {
    padding: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #ED8B00;
    /*border-radius: .25rem;
    border: 1px dashed #5F9EA0;*/
}

.top-nav-item2 {
    padding: 1rem;
    font-weight: bold;
   
    /*border-radius: .25rem;
    border: 1px dashed #5F9EA0;*/
}

.top-nav-item2:hover {
    border-bottom: 2px solid #ED8B00;
}


aside {
	margin-right: 10px;
}

details h4 {
    cursor: pointer;
    display: inline;
}
