#simp-search form {
    display: flex;
}

#simp-search form * {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
#simp-search form * + * {
    margin-left: 1rem;
}

#title-logo {
	float: left;
	font-size: 25px;
	color: #1C1C1C;
	font-weight: bold;
}

#title-logo:hover {
	color: #d33c43;
}

footer {
    align-items: center;
    background-color: #5F9EA0;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    padding: 2rem calc((100vw - 112.0rem) / 2);
}

header {
	background-color: #5F9EA0;
	margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem calc((100vw - 112.0rem) / 2);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.top-nav {
    padding: 2rem 20rem;
}

.top-nav-item {
    padding: 1rem 2rem;
    border-radius: .25rem;
    border: 1px dashed #5F9EA0;
}

.top-nav-item:hover {
    border: 1px solid #5F9EA0;
}

aside {
	margin-right: 10px;
}

details h4 {
    cursor: pointer;
    display: inline;
}
